.amount-container{
  display: flex;
}
.amount-word{
  font-size: 3vmin;
   font-family: monospace;
}
.amount-value{
  padding: 2vmin;
   font-size: 3vmin;
}
.currency-word{
  padding:1vmin;
  font-size: 3vmin;
  font-family: monospace
}
.fullname-container{
  font-size: 3vmin;
  font-family: monospace;
  display:flex;
  flex-direction:row
}
.fullnameinput-inline{
  font-size:2vmin;
  display:flex;
  flex-direction:column;
  align-items:center
}
.currencyselection-container{
  font-size: 3vmin;
   font-family: monospace
}
.submit-button{
  font-family:monospace;
  font-size:3vmin;
  justify-content:center;
  align-items:center;
  border-radius:1vmin;
  border:3px solid black;
  display:flex;
  width:17vmin
}
.payment-header{
  padding: 3vmin;
   margin-left: 1vmin;
   position: relative;
   bottom: 1vmin;
}
.paypal{
  position:relative;
  bottom:15vmin;
  margin-left: 1vmin
}
.braintree{
  position:relative;
  bottom:25vmin;
  height:20vmin;
  margin-left: 3vmin
}
.amex{
  margin-left: 1vmin;
  opacity:0.2;
  font-family:monospace
}


.Info{
  background-color:#282c34;
  color: aliceblue;
}
.order-info{
  width: 60vmin;
  height: 70vmin;
  /* background-color: #000;   */
  display: flex;
  flex-direction: column;
  justify-content: space-evenly ;
  font-size:5vmin;
  font-Family:'monospace';
  /* border-right: 0.6vmin solid #000;   */
  /* border:0.5vmin solid #181818; */
  
}
.order{
  display: flex;
  flex-direction: row;
  
  /* background-color: #000; */
  align-items: center;
  justify-content: center;
}
.products{
  margin-top:1vmin;
  display: flex;
  flex-wrap: wrap;

  /* grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); Adjust column width as needed */
  gap: 16px;
  
}
.product-element{
  padding: 20vmin;
  height:45vmin;
  display: flex;
  flex-direction: column;
  /* background-color: #282c34; */
}
.product-element-data{
  /* position: absolute; */
  padding: 10vmin;
  color: #000;
  font-size: xx-large;
  
}
img{
  height:42vmin;
  
  /* width: 20vmin; */
}
.Second-div{
  position: relative;
  top:1vmin
}
.Search-box{
  border-width: 0;
  background-color: rgb(231, 231, 231)  ;
  height: 5vmin;
  width: 100vmin;
  
}
button{
  position: absolute;
  right: 10vmin;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
