.Info{
  background-color:#282c34;
  color: aliceblue;
}
.order-info{
  width: 60vmin;
  height: 70vmin;
  /* background-color: #000;   */
  display: flex;
  flex-direction: column;
  justify-content: space-evenly ;
  font-size:5vmin;
  font-Family:'monospace';
  /* border:0.5vmin solid #181818; */
  
}
.order{
  display: flex;
  flex-direction: column;
  
  /* background-color: #000; */
  align-items: center;
  justify-content: center;
}
.products{
  margin-top:1vmin;
  display: flex;
  flex-wrap: wrap;

  /* grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); Adjust column width as needed */
  gap: 16px;
  
}
.product-element{
  padding: 20vmin;
  height:45vmin;
  display: flex;
  flex-direction: column;
  /* background-color: #282c34; */
}
.product-element-data{
  /* position: absolute; */
  padding: 10vmin;
  color: #000;
  font-size: xx-large;
  
}
img{
  height:42vmin;
  
  /* width: 20vmin; */
}
.Second-div{
  position: relative;
  top:1vmin
}
.Search-box{
  border-width: 0;
  background-color: rgb(231, 231, 231)  ;
  height: 5vmin;
  width: 100vmin;
  
}
button{
  position: absolute;
  right: 10vmin;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
